/* common section start */
.common_section {
  background: linear-gradient(#212245b2, #212245),
    url("https://images.unsplash.com/photo-1617347454431-f49d7ff5c3b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
/* common section end */

/* logo */
.foodie {
  background-color: #fde4e4;
}

#log_1 {
  transition: 0.2s;
  color: black;
}
#log_1:hover {
  transform: scale(1.01);
  color: #fff;
  background-color: #df2020;
}
@media only screen and (min-width: 1100px) {
  .navbar_text {
    padding-left: 450px;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar_text {
    text-align: center;
  }
}

.logo {
  width: 110px;
  border-radius: 25px;
  float: left;
  padding-left: 25px;
  margin-top: -10px;
  cursor: pointer;
}
.login {
  color: #df2020;
  cursor: pointer;
}

.nbar {
  font-size: 1.1rem;
  color: #df2020;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}
.nbar:hover {
  transform: scale(1.2);
  text-decoration: solid;
}

/* home */
.hero__title {
  font-size: 2.5rem;
  line-height: 55px;
}
.hero__title span {
  color: #df2020;
}
.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}
.hero__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}
.order__btn {
  background: #df2020;
  color: #fff;
  transition: 0.3s;
}
.order__btn:hover {
  background: #452121;
}

.all__foods-btn {
  background: transparent;
  border: 1px solid #df2020 !important;
}
.all__foods-btn a {
  color: #df2020;
}
.hero__service {
  color: #212245;
  font-weight: 600;
  font-size: 0.9rem;
}
.shipping__icon div {
  padding: 3px;
  background: #df2020;
  color: #fff;
  border-radius: 20px;
}
/* category */
.we_serves {
  text-align: center;
}
.we_serves span {
  color: #df2020;
  font-size: 2.5rem;
}
.category__item {
  background-color: #fde4e4;
  padding: 30px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}
.category__item:hover {
  transform: translateY(-15px);
}
.feature__subtitle {
  color: #df2020;
}
.feature__title {
  color: #df2020;
}
.feature__text {
  color: #777;
}
.feature__item {
  color: #777;
}

/* Footer start*/
.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #fde4e4;
}

.footer__logo img {
  width: calc(100% - 80%);
  margin-bottom: 5px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 28px;
}

.delivery__time-item {
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
}

.delivery__time-item p {
  color: #212245;
}
.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.newsletter {
  padding: 5px;
  border: 1px solid #212245;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.newsletter input {
  background: transparent;
  border: none;
  outline: none;
}

.newsletter input:focus {
  outline: none;
}

.newsletter span {
  background: #df2020;
  padding: 5px 30px;
  border-radius: 5px;
}

.newsletter span i {
  color: #fff;
}

.newsletter input::placeholder {
  color: #212245;
}

.social__links span a {
  color: #df2020;
}

.copyright__text {
  font-size: 0.8rem;
  color: #df2020;
}

@media only screen and (max-width: 992px) {
  .newsletter input {
    padding: 7px;
    font-size: 0.7rem;
  }
  .newsletter span {
    padding: 4px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span a {
    padding: 4px;
    color: #df2020;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
}
/* Footer ends*/
/* Why Foodie */
.foodie-title span {
  color: #df2020;
}
.foodie__desc {
  color: #777;
  line-height: 28px;
}
.choose__us-title {
  font-weight: 650;
}
.choose__us-title span {
  font-weight: 500 !important;
  color: #df2020;
}
.check_list {
  color: #777;
}

/* 
testimonial */
.testimonial__subtitle {
  color: #df2020;
}
.testimonial__title span {
  color: #df2020;
}
.testimonial_desc {
  color: #777;
  line-height: 30px;
}
/* avatar */
.rounded {
  width: 60px;
  height: 50px;
  border-radius: 10px;
}
.review__text {
  color: #777;
  line-height: 30px;
  object-fit: cover;
}

/* screen only */

@media only screen and (max-width: 768px) {
  .addToCart__btn {
    padding: 5px;
    font-size: 0.8rem;
  }
}

/* our offers*/
.offers_color {
  color: #df2020;
  font-size: 2.5rem;
}
.slider {
  width: 420px;
  height: 350px;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.4s;
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {
  .slider {
    width: 110px;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.slider:hover {
  transform: scale(0.9);
}
/* popularfood */

.popularslider {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid gray;
}
.popularslider:hover {
  transform: scale(1.05);
}
.popularcategories {
  margin-bottom: 50px;
}
.popular {
  position: relative;
  font-size: 2.9rem;
  color: #df2020;
}
.popular::before {
  content: attr(data-text);
  position: absolute;
  color: #df2020;
  text-transform: capitalize;

  border-right: 2px solid #df2020;
  overflow: hidden;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.title {
  text-align: center;
  margin-top: -20px;
}

.pop button {
  position: absolute;
  margin-top: -40px;
  border: none;
  padding: 7px 15px;
  background-color: #df2020;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.4s;
  margin-left: 100px;
}
.pop button:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 1500px) {
  .pop {
    width: 10px;
    height: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
/* categories */
.categories__item {
  text-align: center;
  padding: 3px 2px 1px;
  cursor: pointer;
  border-collapse: separate;
  border-spacing: 15px;
  border-radius: 20px;
  border-radius: 2px;
}
.categories__img {
  margin-bottom: 20px;
  transition: 0.4s;
  border-radius: 200px;
  margin-right: -10px;
}

.categories__content {
  margin-top: -150px;
  margin-left: 250px;
}

.categories__btn {
  border: none;
  padding: 7px 15px;
  background-color: #df2020;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.4s;
  margin-top: 20px;
  margin-right: -300px;
}
.categories__btn:hover {
  transform: scale(1.1);
}

.sow {
  border: 2px solid black;
  margin-top: 90px;
}
/* food categories */
.food span {
  color: #df2020;
  font-size: 2.5rem;
}